 .u-section-1 {
  min-height: 839px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 12px 12px;
  grid-template-columns: calc(25% - 9px) calc(25% - 9px) calc(25% - 9px) calc(25% - 9px);
  min-height: 839px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-video-1 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-1 .u-text-1 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-video-2 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  vertical-align: 0px;
}

.u-section-1 .u-text-2 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-video-3 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-8 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  vertical-align: 0px;
}

.u-section-1 .u-text-3 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-video-4 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-btn-10 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-11 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  vertical-align: 0px;
}

.u-section-1 .u-text-4 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-video-5 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
}

.u-section-1 .u-btn-13 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-14 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  vertical-align: 0px;
}

.u-section-1 .u-text-5 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-video-6 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-6 {
  position: absolute;
}

.u-section-1 .u-btn-16 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-11 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-17 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  vertical-align: 0px;
}

.u-section-1 .u-text-6 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-video-7 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-7 {
  position: absolute;
}

.u-section-1 .u-btn-19 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-13 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-20 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  vertical-align: 0px;
}

.u-section-1 .u-text-7 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: scale(1.01);
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-video-8 {
  width: 416px;
  height: 260px;
  margin: 16px -111px 0 25px;
}

.u-section-1 .embed-responsive-8 {
  position: absolute;
}

.u-section-1 .u-btn-22 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: 0 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-15 {
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-1 .u-btn-23 {
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1rem;
  text-transform: none;
  margin: -26px 36px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-16 {
  vertical-align: 0px;
}

.u-section-1 .u-text-8 {
  text-align: center;
  margin: 10px 0 0 16px;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 692px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -144px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-video-2 {
    margin-top: -144px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-video-3 {
    margin-top: -143px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-video-4 {
    margin-top: -143px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-video-5 {
    margin-top: -143px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-video-6 {
    margin-top: -143px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-video-7 {
    margin-top: -143px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-video-8 {
    margin-top: -143px;
  }

  .u-section-1 .u-btn-22 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 2120px;
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
  }

  .u-section-1 .u-video-1 {
    margin-top: -112px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -94px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-video-2 {
    margin-top: -112px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-video-3 {
    margin-top: -111px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 0;
  }

  .u-section-1 .u-video-4 {
    margin-top: -179px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 0;
  }

  .u-section-1 .u-video-5 {
    margin-top: -111px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 0;
  }

  .u-section-1 .u-video-6 {
    margin-top: -111px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 0;
  }

  .u-section-1 .u-video-7 {
    margin-top: -111px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 0;
  }

  .u-section-1 .u-video-8 {
    margin-top: -111px;
  }

  .u-section-1 .u-btn-22 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-7,
.u-section-1 .u-list-item-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-8,
.u-section-1 .u-list-item-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-8.u-list-item-8.u-list-item-8:hover:before {
  background-color: #f5d654 !important;
}

.u-section-1 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}