 .u-section-1 {
  background-image: linear-gradient(#fffcfc, #747474);
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-tabs-1 {
  min-height: 408px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-1 .u-group-1 {
  min-height: 268px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 77px;
  margin: 0 259px 0 167px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-table-1 {
  margin-top: 1px;
  height: 190px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  min-height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-form-2 {
  height: 77px;
  margin: 0 259px 0 167px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-table-2 {
  margin-top: 1px;
  height: 190px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-table-header-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  min-height: 268px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-form-3 {
  height: 77px;
  margin: 0 259px 0 167px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-table-3 {
  margin-top: 1px;
  height: 190px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-table-header-3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-table-cell-38 {
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
}

.u-section-1 .u-table-cell-40 {
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-form-1 {
    margin-right: 159px;
    margin-left: 67px;
  }

  .u-section-1 .u-table-1 {
    margin-left: initial;
  }

  .u-section-1 .u-form-2 {
    margin-right: 159px;
    margin-left: 67px;
  }

  .u-section-1 .u-table-2 {
    margin-left: initial;
  }

  .u-section-1 .u-form-3 {
    margin-right: 159px;
    margin-left: 67px;
  }

  .u-section-1 .u-table-3 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-form-3 {
    margin-right: 6px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 0;
  }
}